*{
  box-sizing: border-box;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  display: block;
  width: 100%;
  padding-inline: var(--padding);
}

.active{
  min-height: 320px;
  width: 100%;
  padding: var(--padding);
}

.display{
  max-height: 0;
  display: none;
}

#submit:hover{
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg)
  }
}

.spinner {
  animation: spin 2s linear 0ms infinite;
}

