:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --padding: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover{
  cursor: pointer;
  transform: scale(1.2);
}

button:hover {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: var(--padding);
  min-width: 320px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

textarea, textarea:focus, textarea:focus-visible, textarea:hover, textarea:active, textarea:focus-within, textarea:visited, textarea:target{
  border: none;
  outline: none;
  resize: none;
}

input, input:focus, input:focus-visible, input:hover, input:active, input:focus-within, input:visited, input:target{
  border: none;
  outline: none;
}

img {
  height: auto;
}

b{
  display: block;
}
